*.ico filter=lfs diff=lfs merge=lfs -text
*.eif filter=lfs diff=lfs merge=lfs -text
*.ecf filter=lfs diff=lfs merge=lfs -text
*.esf filter=lfs diff=lfs merge=lfs -text
*.enf filter=lfs diff=lfs merge=lfs -text
